<mat-card>
  <mat-card-header>
    <mat-card-title>{{nextEvent.Nom}}</mat-card-title>
    <mat-card-subtitle>{{nextEvent.Jour | date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Se déroulera à {{this.ls.idLieuxToLieu(nextEvent.id_lieu, this.lieux).nom}}</p>
    <google-map [zoom]="zoom" [center]="center" [options]="options" class="map">
      <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
        [title]="marker.title" [options]="marker.options">
      </map-marker>
    </google-map>
  </mat-card-content>
</mat-card>
