<mat-card class="container">
  <h1><i>Formulaire de contact</i></h1>
  <form [formGroup]="form">
    <mat-form-field class="input-form" appearance="fill">
      <mat-label>Nom :</mat-label>
      <input matInput type="text" formControlName="nom">
      <div class="alert">
        <div
          *ngIf="form.get('firstname')?.errors?.['required']&& (form.get('firstname')?.dirty || form.get('firstname')?.touched)">
           Le nom doit comporter au moins 2 caractères</div>
      </div>
    </mat-form-field>

    <mat-form-field class="input-form" appearance="fill">
      <mat-label>Prénom :</mat-label>
      <input matInput type="text" name="prenom" formControlName="prenom">
    </mat-form-field>

    <mat-form-field class="input-form" appearance="fill">
      <mat-label>Téléphone :</mat-label>
      <input matInput type="text" formControlName="telephone">
    </mat-form-field>

    <mat-form-field class="input-form" appearance="fill">
      <mat-label>Email :</mat-label>
      <input matInput type="text" formControlName="mail">
    </mat-form-field>
    <button mat-raised-button [disabled]="this.form.invalid" type="submit">Contactez-moi!</button>
  </form>
</mat-card>
