/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 50vw;
  width: 100vw;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-card {
  margin: 10px;
}

mat-expansion-panel {
  margin-top: 10px;
}
