<mat-expansion-panel [expanded]="panelState">
  <mat-expansion-panel-header class="event_future_header">
    <mat-panel-title class="event_future_header_title">
      {{evennement.id_evenement}} - {{evennement.Nom}}
    </mat-panel-title>
    <mat-panel-description class="event_future_header_description">
      {{evennement.Jour | date : 'short' }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-card-content>
    <div class="lieu_description">
      <h3>
        Lieu : {{lieu.nom}}
      </h3>
      <p>
        <span *ngFor="let invite of invites">{{invite.prenom}} {{invite.nom}}, </span>
      </p>
      <p>Crée par {{proprietaire.prenom}}
        {{proprietaire.nom}}</p>
      <button mat-mini-fab color="accent" aria-label="Modifier l'évènement"
        class="event_future_header_description_button" (click)="openUpdateEventDialog(evennement)">
        <mat-icon>auto_fix_normal</mat-icon>
      </button>
      <button mat-mini-fab color="warn" aria-label="Supprimer l'évènement"
        class="event_future_header_description_button" (click)="onClickBoutonSupprimer(evennement)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div>
      <google-map [zoom]="zoom" [center]="center" [options]="options">
        <map-marker [position]="{lat:lieu.lat,lng:lieu.lon}" [label]="evennement.Nom" [title]="evennement.Nom"
          [options]="marker.options"></map-marker>
      </google-map>
    </div>
  </mat-card-content>
</mat-expansion-panel>
