<div *ngIf="auth.user | async as user; else showLogin">
  <h1>Bonjour ! {{ user.displayName }}!</h1>
  <button mat-raised-button color="warn" (click)="logout()">Déconnexion</button>
</div>
<ng-template #showLogin>
  <p>Connexion</p>
  <form (submit)="loginEmail()" [formGroup]="formlogin">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <button mat-fab color="primary" [disabled]="this.formlogin.invalid" type="submit"></button>
  </form>
  <button mat-raised-button color="primary" (click)="loginGoogle()">Identifiez-vous avec Google</button>
  <button mat-raised-button color="primary" (click)="signIn()">Créer un compte</button>
</ng-template>
