<mat-card>
  <mat-card-title>
    Evenements à venir
    <button mat-fab aria-label="Ajouter un évènement" (click)="openAddEventDialog()">
      <mat-icon>plus_one</mat-icon>
    </button>
  </mat-card-title>
  <mat-accordion *ngFor="let event of eventsFuture">
    <mat-expansion-panel>
      <mat-expansion-panel-header class="event_future_header">
        <mat-panel-title class="event_future_header_title">
          {{event.id_evenement}} - {{event.Nom}}
        </mat-panel-title>
        <mat-panel-description class="event_future_header_description">
          {{event.Jour | date : 'short' }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card-content>
        <h3>
          Lieu :
        </h3>
        <p>{{event.id_lieu}}</p>
        <p>Créé par {{this.stagS.idStagiaireToStagiaire(event.id_stagiaire,stagiaires).prenom}}
          {{this.stagS.idStagiaireToStagiaire(event.id_stagiaire,stagiaires).nom}}</p>
        <button mat-mini-fab aria-label="Modifier l'évènement" class="event_future_header_description_button"
          (click)="openUpdateEventDialog(event)">
          <mat-icon>auto_fix_normal</mat-icon>
        </button>
      </mat-card-content>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Evènements passés
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let event of eventsPast">
        <mat-card>
          <mat-card-title>
            {{event.id_evenement}} - {{event.Nom}}
          </mat-card-title>
          <mat-card-content>
            {{event.id_lieu}}
            {{event.Jour | date : 'short' }}
            <p>Créé par {{this.stagS.idStagiaireToStagiaire(event.id_stagiaire,stagiaires).prenom}}
              {{this.stagS.idStagiaireToStagiaire(event.id_stagiaire,stagiaires).nom}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
