<mat-card>
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between stretch">
    Évenements à venir
    <button mat-fab aria-label="Ajouter un évènement" (click)="openAddEventDialog(lieux, stagiaires)">
      <mat-icon class="ajouter">plus_one</mat-icon>
    </button>
  </mat-card-title>
  <div class="example-action-buttons">
    <button mat-button (click)="expandPanel()">Dérouler</button>
    <button mat-button (click)="collapsePanel()">Réduire</button>
  </div>
  <mat-accordion *ngFor="let event of eventsFuture" multi>
    <app-evennement-details [evennement]="event" [stagiaires]="stagiaires" [lieux]="lieux" [panelState]="panelState"
      ($addLieuEventEmitter)="updateLieux()" (delEvennementEventEmitter)="traiterSuppressionEvennement(event)"
      (updateEvennementEventEmitter)="updateEvents()">
    </app-evennement-details>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Évènements passés
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let event of eventsPast">
        <mat-card>
          <mat-card-title>
            {{event.id_evenement}} - {{event.Nom}}
          </mat-card-title>
          <mat-card-content>
            <p> Lieu : {{this.ls.idLieuxToLieu(event.id_lieu, lieux).nom}}</p>
            <p> Date : {{event.Jour | date : 'short' }}</p>
            <p> Créé par {{this.stagS.idStagiaireToStagiaire(event.id_stagiaire,stagiaires).prenom}}
              {{this.stagS.idStagiaireToStagiaire(event.id_stagiaire,stagiaires).nom}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
