<form [formGroup]="formAddLieux" (submit)="traiterFormulaire()">
  <mat-form-field class="name" appearance="fill">
    <mat-label for="nom">Nom</mat-label>
    <input matInput type="text" name="nom" formControlName="nom">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="adresse">Adresse</mat-label>
    <input matInput type="text" name="adresse" formControlName="adresse">
  </mat-form-field>

  <div dir="rtl" class="submit-button-container">
    <button [mat-dialog-close]="true" mat-fab color="primary" [disabled]="this.formAddLieux.invalid" type="submit">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</form>
